@font-face {
	font-family: consolas;
	src: url("fonts/Consolas.woff")
}

body {
	background-color: #292429;
}

.text {
	text-align: center;
    font-family: consolas;
    text-decoration: none;
	color: #e8e6e3;
}
.text a{
    text-decoration: none;
    color: #a298a0;
}