---
layout: default
title: Blog and Writing
permalink: /blog/
description: "Personal blog by Indigo Nolan covering technology, UX design, programming, short stories, and random observations."
---

<div class="blog-header">
    <h1>blog • <a href="{{ "/thoughts/" | relative_url }}">thoughts</a></h1>

    {% capture tags %}
        {% for tag in site.tags %}
            {{ tag[0] }}
        {% endfor %}
        {% endcapture %}
    {% assign sortedtags = tags | split:' ' | sort %}

    <p class="blog-subtitle">themes: 
    {% for tag in sortedtags %}
    <a href='#{{tag}}'>{{tag}}</a> {%unless forloop.last %}• {%endunless%}
    {% endfor %}
    </p>


     <div class="section-separator" style="margin-top: 10px; margin-bottom: 10px;"></div>


      <p class="blog-subtitle">other: <a href="{{ "/feed.xml" | relative_url }}">follow blog (RSS)</a> • <a href='https://kresimiria.wiki'>fictional worldbuilding ↗</a></p>
   
</div>

<div class="blog-posts">

        <div id="blog-posts-container">
    


            <h2 class="tag-heading">latest </h2>
            {% for post in site.posts limit: 3 %}
             <article class="blog-post">
                        <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
                        <span class="post-information">{{ post.date | date: "%-d %b %Y" }}</span>
                        <span class="post-information">{{ post.tags[0] }}</span>
            </article>
            {% endfor %}



        {% for tag in sortedtags %}
            <div class="tag-group">
                <h2 class="tag-heading" id="{{tag}}">{{ tag}}</h2>

                {% for post in site.tags[tag] %}
                    <article class="blog-post">
                        <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
                        <span class="post-information">{{ post.date | date: "%-d %b %Y" }}</span>
                    </article>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    
</div>
