@font-face {
	font-family: DIN;
	src: url("fonts/DIN.woff2")
}

body {
	background-color: #292429;
	margin: 0;
}

.container {
	margin-top: calc(50px + 20vh);
	display: flex;
	flex-direction: row;
	text-align: left;
	font-family: DIN;
	color: #e8e6e3;
}
.bio {
	margin-left: 10vw;
	width: 50vw;
	text-align: left;
}
.bio img {
	height: 60px;
	display: inline-block;
	margin-right: 15px;
	opacity: 1;
	transition: opacity .5s;
	cursor: pointer;
}
.bio img:hover {
	opacity: 0.5;
}
.portfolio {
	width: 50vw;
	padding-left: 10vw;
}
.item { /*.portfolio div*/
	padding: 20px;
	margin-bottom: 10px;
	background-color: #323032;
	transition: background-color .5s;
	border-radius: 15px;
	width: fit-content;
}
.item:hover {
	background-color: #6868686f;
}
.item p:nth-of-type(1){
	margin: 0;
	font-size: 30px;
}
.item p:nth-of-type(2){font-size: 17px;}
.bio {font-size: 20px;}

#name {
	font-size: 70px;
	margin: 0;
	display: inline;
	transition: color .5s;
	cursor: pointer;
}
#name:hover {
	color: #adacaa;
}
.contact {
	font-size: 20px;
	color: #e8e6e3;
	transition: color .5s;
}
.contact:hover {
	color: #c4c3c0;
}
#c_title {
	font-size: 45px;
}

