@font-face {
	font-family: DIN;
	src: url("fonts/DIN.woff2")
}
/**
--background: #292429;
	--menu: #191419;
	--text: #e8e6e3;
	--text-hover: #adacaa;
	--item: #323032;
	--item-background: #6868686f;
**/
:root {
	--background: #e8e6e3;
	--menu: #323032;
	--text: #191419;
	--text-hover: #38303299;
	--item: #d8d6d3;
	--item-background: #adacaa;
}
body {
	background-color: var(--background);
	margin: 0;
}
#menu{
	position: fixed;
	top: 0;
	width: 100vw;
	height: 60px;
	background-color: var(--menu);
	display: flex;
	flex-direction: row;
	align-items: center;
}
#hmenu {
	height: 60%;
	margin-left: 20px;
	transition: transform .5s, opacity .5s;
	cursor: pointer;

}
#hmenu:hover{
	opacity: 0.5;
}
#fullmenu{
	position: fixed;
	top: 60px;
	height: 100vh;
	width: fit-content;
	padding: 50px;

	transition: margin .5s;
	margin-left: -80vw;
	z-index: 10;
	background-color:var(--menu);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 100px;
}
#fullmenu a{
	margin-bottom: 20px;
	text-decoration: none;
	color: var(--background);
	font-family: DIN, "aria";
	font-size: 2rem;
	transition: opacity .5s;
}
#fullmenu a:hover{
	opacity: 0.5;
}

.container {
	margin-top: calc(50px + 10vh);
	display: flex;
	flex-direction: row;
	text-align: left;
	font-family: DIN, "aria";
	color: var(--text);
}
.bio {
	margin-left: 10vw;
	width: 50vw;
	text-align: left;
}
.bio img {
	height: 60px;
	display: inline-block;
	margin-right: 15px;
	opacity: 1;
	transition: opacity .5s;
	cursor: pointer;
	z-index: 0;
	filter: invert()
}


.portfolio {
	width: 50vw;
	padding-left: 10vw;
	overflow: auto;
	height: calc(80vh - 50px);
}
.item { /*.portfolio div*/
	padding: 20px;
	margin-bottom: 10px;
	background-color: var(--item);
	border-radius: 15px;
	width: 25vw;
	transition: padding .5s, border-radius .5s, background-color .5s;
}
.item:hover {
	background-color: var(--item-background);
	border-radius:30px;
}
.item:hover p:nth-of-type(3){opacity:1;}

.item p:nth-of-type(1){ /*title*/
	margin: 0;
	font-size: 30px;
}
.item p:nth-of-type(2){font-size: 17px;} /*description*/
.item p:nth-of-type(3){/*language*/
	font-size: 17px; 
	opacity: 0; 
	transition: opacity .5s;
	color:rgb(178, 178, 178);
}

.bio {font-size: 20px;}

#name {
	font-size: 70px;
	margin: 0;
	display: inline;
	transition: color .5s;
	cursor: pointer;
}
#name:hover {
	color: var(--text-hover);
}
#name:hover img{
	opacity: 0.5;
}
.contact {
	font-size: 20px;
	color: var(--text);
	transition: color .5s;
}
.contact:hover {
	color: var(--text-hover);
}
#c_title {
	font-size: 45px;
}



@media only screen and (max-width: 800px) {
	.container {
		flex-direction: column;
	}
	.bio {
		width: 70vw;
		margin-bottom: 20px;
	}
	.item {
		width: 70vw;
		
	}
	.portfolio {
		width: 100vw;
	}
	#fullmenu {
		margin-left: -80vw;
	}
}
