@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@800&family=Inconsolata:wght@500&display=swap');


body {
	background-color: #292429;
	margin: 0;
}


#palette {
    color: #e8e6e3;
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    justify-content: center;
    flex: auto;
    height: 100vh;
}

.col p{
    padding-top: 60vh;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-family: "Inconsolata", "arial";
    user-select: none;
    color:#292429;
    background-clip: text;


}
.after:after {
    opacity: 1;
    content: "\a Copied!";
    white-space:pre-wrap;
}
.button {
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: Inconsolata, "arial";
    font-size: 20px;
    background-color: #FFFFFF;
    opacity: 0.5;
    padding: 20px;
    border: #29242977;
    box-shadow: none;
    border-radius: 20px;
    transition: opacity .5s;
    z-index: 20;
}
.button:hover {
    opacity: 0.8;
}

#gen_button {
    bottom: 100px;
}
#home_button {
    bottom: 5px;
    background-color: #292429;
    padding: 10px;
    border-radius: 15px;
    color:#e8e6e3;
}

@media only screen and (max-width: 800px) {
	#palette {
		flex-direction: column;
        height: 100vh;
	}
    .col {
        height: fit-content;
        width: 100vw !important;
        justify-content: left;
        align-items: center;
    }
    .col p {
        width: 30vw;
        padding-top: 0;
        height: auto;
    }
    .after:after{
        white-space: nowrap;
    }
}

