@font-face {
	font-family: DIN;
	src: url("../fonts/DIN.woff2")
}

body {
	background-color: #292429;
	margin: 0;
}
#content {
	margin-top: 10vh;
	width: 100vw;
	height: 90vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
}
#warning {
	font-size: 30px;
	font-family: DIN, arial;
	color:#D1E8E2;
	display: none;
	position: fixed;
	height: 100vh;
	width: 100vw;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.alphabet {
	outline: none;
	-moz-user-select: none;
	 -ms-user-select: none;
		 user-select: none;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: transparent;
	cursor: pointer;
	font-family: DIN, sans-serif;
	color: #D1E8E2;
	font-size: 160%;
	margin-top: 5vh;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	width: fit-content;
	text-align: center;
	-webkit-transition: opacity .25s;
	-o-transition: opacity .25s;
	transition: opacity .25s;
}
.alphabet a {
	color:#D1E8E2;
}
.alphabet_letter {
	background-color: #4a434a;
	outline: none;
	font-family: DIN, sans-serif;
	color: #D1E8E2;
	font-size: 160%;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: 50px;
	min-width: 30px;
	display: inline-block;
	padding-right: 1vw;
	margin: 2px;
	border-radius: 5px;
	padding-left: 1vw;
	transition: color .5s, border .5s, background-color .5s, opacity .1s;
}

.letter_wrong {
	background-color: #292429;
	color: #D1E8E255;
	opacity: 0.5;
}
.letter_in{
	background-color: #e19e52;
	opacity: 1;
}
.letter_correct {
	background-color: #90d69b !important;
	color: #4a434a;
	opacity: 1;
}
.pressed {
	opacity: .5;
}
.guesses {
	-moz-user-select: none;
	-ms-user-select: none;
		user-select: none;
	margin-top: calc(0.5vw);
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	font-family: DIN, sans-serif;
	color: #D1E8E2;
	font-size: 160%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.square {
	-moz-user-select: none;
	-ms-user-select: none;
		user-select: none;
	margin-right: 0.5vw;
	text-align:center;
	font-size:200%;
	width: 60px;
	height: 60px;
	line-height: 65px;
	position:relative;
	background-color: #4C5551;
	border: 1px solid #F2F3F2;
	border-radius: 2px;
	transition: border .5s, background-color .5s, color .5s, border-radius .5s;
}
.selected_square {
	border: 1px solid #B2b3b2;
	border-radius: 4px;
	background-color: #5C6561;
}
.wrong_square {
	color: #63716d;
	border: 1px solid #63716d;
}
.in_square {
	color: #e19e52;
	border: 1px solid #e19e52;
}
.correct_square {
	color: #90d69b;
	border: 1px solid #90d69b;
}

.button {
	text-decoration: none;
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: DIN;
	color:#292429;
    font-size: 20px;
    background-color: #FFFFFF;
    opacity: 0.5;
    padding: 20px;
    border: #29242977;
    box-shadow: none;
    border-radius: 20px;
    transition: opacity .5s;
    z-index: 20;
}
.button:hover {
    opacity: 0.8;
}

#new_button {
    bottom: 20px;
}

#home_button {

    top: 5px;
    background-color: #292429;
    padding: 10px;
    border-radius: 15px;
    color:#e8e6e3;
}


@media only screen and (max-width: 500px) {
	.alphabet_letter {
		min-width: 30px;
		min-height: 20px;
	}
}
@media only screen and (max-width: 440px) {
	.alphabet_letter {
		min-width: 25px;
		min-height: 20px;
	}
}

@media only screen and (max-width: 360px),
	screen and (max-height: 660px){
		#warning {
			display: flex;
		}
		#new_button {
			display: none;
		}
		#content {
			display: none;
		}
}


@media only screen and (max-height: 800px) {

	.guesses {
		margin-top: 0.2vw;
	}
	.square {
		margin-right: 0.2vw;
		font-size: 150%;
		width: calc(20px + 5vh);
		height: calc(20px + 5vh);
		line-height: 55px;
	}
	#home_button {
		position: relative;
	}
	#new_button {
		position: relative;
		height: 20px;
		top: 20px;
		bottom: 0;
	}
	
}

