@font-face {
	font-family: "arcade";
    src: url("../fonts/ARCADECLASSIC.woff");
}
* {
    position: absolute;
    cursor: url("assets/asteroid.webp"), auto;
}
.html, body {
    overflow: hidden;
    background-color: #000000;
    margin: 0;
}
.background {
    position: absolute;
    height: 100vw;
    width: 100vw;
}
.font {
    font-family: "arcade";
    color: #EEEEEE;
}
.title {
    margin-top: 15vh;
    margin-left: 50%;
    transform: translateX(-50%);

    font-size: 100px;
    color: #EEEEEE;
    z-index: 5;
    transition: margin-left 1s, margin-top 1s;
}
.cta {
    margin-top: 40vh;
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 80px;
    transition: margin-left 1s;
    white-space: nowrap;
    overflow:visible;
    z-index: 5;
}
.container {
    width: 100vw;
    height: 100vw;
    position: absolute;
    align-items: center;
}
.asteroid {

    align-self: center;
    width: 200px;
    height: 200px;
    margin-left: 150%;
    
    background-image: url("assets/Asteroid_Bigger.webp");
    background-size:contain;
    transform: rotate(90deg) translateX(-50%);


    transition: margin-left 3s;
}
.stars {
    height: 100vh;
    width: 100vw;
    background-size: contain;
    position: absolute;
    transition: margin-left .5s, margin-top .5s;
}
.stars1 {
    z-index: 1;
    background-image: url("assets/Stars1.webp");
}
.stars2 {
    z-index: 2;
    background-image: url("assets/Stars2.webp");
}
.stars3 {
    z-index: 3;
    background-image: url("assets/Stars3.webp");
}